.container {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: black;
}

.circle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #192652;
    border-radius: 50%;
}

.container2 {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: black;
}

.circle2 {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #192652;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}






.carré-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 15vh;
    padding: 0 0px;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}

.carré {
    width: 50px;
    height: 50px;
    background-color: black;
    transform: rotate(-45deg);
    margin-top: 15px;
}

.black-bar {
    position: absolute;
    width: 100%;
    height: 33%;
    background-color: black;
    z-index: 2;
}

.black-bar2 {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: black;
    z-index: 2;
    bottom: 0;
}
.carré-container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 15vh;
    padding: 0 0px;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}

   









.carré-container-petit {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 15vh;
    padding: 0 0px;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}

.carré-petit {
    width:40px;
    height: 40px;
    background-color: black;
    transform: rotate(-45deg);
    margin-top: 15px;
}

.black-bar-petit {
    position: absolute;
    width: 100%;
    height: 33%;
    background-color: black;
    z-index: 2;
}

.black-bar2-petit {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: black;
    z-index: 2;
    bottom: 0;
}

.carré-container2-petit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 15vh;
    padding: 0 0px;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}
















.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.vertical-line3 {
    position: absolute;
    background-color: black;
    width: 25px;
    height: 100%;
    z-index: 1;
}

.frise-item3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    position: relative;
    z-index: 2;

}

.frise-item3:nth-child(odd) img {
    order: 1;
}

.frise-item3:nth-child(odd) p {
    order: 2;
}

.frise-item3:nth-child(even) img {
    order: 2;
}

.frise-item3:nth-child(even) p {
    order: 1;
}

img.left3,
img.right3 {
    max-width: 45%;
    height: auto;
    object-fit: contain;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
    position: absolute;
    bottom: -210%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}







.rectangles-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.rectangle {
    width: 100px;
    height: 15px;
    background-color: black;
    border: 2px solid black;
}




.bande_blanche {
height: 5vh;
background-color: white;
margin: 0px;
}


.bande_noir {
height: 5vh;
background-color: black;
margin: 0px;
}